.main {
    display: flex;
    flex-direction: column;
    gap: 110px;

    max-width: 1440px;
    margin: auto;

    transition: gap ease-in-out 0.3s;
}

@media (max-width: 435px) {
    .main {
        gap: 60px;
    }
}